@use './assets/themes/themes' as theme;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
    @include theme.dark-theme();
}

.light-theme {
    @include theme.light-theme();
}